/* CSS Document */
body
{
	font-family: tahoma;
	direction: rtl
}
#wrapper
{
	width: 1150px;
	min-height:1000px;
	background-color: lightgray;
	margin:0 auto 0;
	border: solid 2px grey
}
#header
{
	text-align: center;
	border-bottom: 1px solid grey;
}
#menubar
{
	text-align: center;
	background-color: darkred;
	font-family: tahoma;
	padding: 10px 0;
	font-size: 1em
}
#menubar a
{
	text-decoration: none;
	color: azure;
	padding-top: 8px;
	padding-bottom: 6px;
	border: solid gray 1px;
	display: inline-block;
	width: 80px;
}
#menubar a:hover
{
	background-color:orange
}
#menubar  a:active
{
	background-color: orangered;
}
form
{
	width: 250px;
	direction:ltr;
	height:40px;
	padding-left: 10px
	
}
input
{
	float: top ;
	float: left;
	height:22px
}
img
{
	border:1px solid black;
	float: left
}
.topic
{
	width: 1100px;
	min-height:  200px;
	margin:10px 30px 10px;
	background-color: aliceblue;
	
}
.newsone 
{

	display: inline-block;
		margin:3px 9px 3px;
	position: relative;
	height: 200px
}
.newsone1
{
	list-style: none;
	
}
.newsone1 li
{
	
	display:inline-block;
	padding: 0 9px;
	position: relative;
	width: 180px;
}
.newsone1 li:hover div
{
	display: inline-block
}
.newsone1 li div
{
	background-color: aquamarine;
	width:180;
	height:80px;
	display:none;
	position: absolute;
	bottom: 0px
}
.newsone div
{
	position: absolute

}
#footer
{
	width:1150px;
	height: 200px;
	background-color: darkred;
	clear:both;
	padding-top:10px
}
		#footer1
		{ 
			width: 30%;
			height: 180px;
			float: right;
			background-color: aliceblue;
			margin-right: 1%;
		}
		 #footer2
		{
			width: 30%;
			height: 180px;
			float: right;
			background-color: aliceblue;
			margin-right:4% ;
		}
		 #footer3
		{
			width: 30%;
			height: 180px;
			float:left;
			margin-left: 1%;
			background-color: aliceblue;
		}
